.text-center {
  text-align: center;
}

.left-space-3 {
  margin-left: 3px;
}
.left-space-6 {
  margin-left: 6px;
}
.left-space-10 {
  margin-left: 10px;
}
.right-space-10 {
  margin-right: 10px;
}

.hover-pointer:hover {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}
